<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css//home.css" />
    <title>home</title>
  </head>
  <body>
    <div class="main">
      <div class="start-app-container">
        <h1 class="title">My Products App</h1>
        <p class="about-app">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio itaque
          possimus quod officiis, deserunt sint culpa illum voluptas deleniti
          nesciunt quasi, tenetur ipsum iure rem reiciendis error voluptatibus
          excepturi commodi? Obcaecati quo repudiandae suscipit, natus laborum
          ut velit, ratione impedit quos vero facilis modi. Impedit nulla
          quisquam minima esse quod.
        </p>
        <a href="/add-product" class="get-started-btn">Get Started</a>
      </div>
    </div>
  </body>
</html>
