<%- include("./header.ejs") %>
<main class="main w-full p-8">
  <section class="sec w-full min-h-screen p-4 flex flex-col items-center" id="sec1">
    <h1 class="page-title text-center text-3xl font-bold text-red-500"><%= pageTitle %></h1>
    <a href="/" class="decoration-0 w-32 text-center py-3 px-3 mt-4 rounded bg-purple-500 text-white">Go to home</a>
  </section>
</main>
<%- include("./footer.ejs") %>
