<%- include("./header.ejs") %>
<%- include("./navbar.ejs") %>
    <li class="nav-item"><a href="/host/add-accomodation" class="nav-link">Add accomodation</a></li>
    <li class="nav-item"><a href="/host/account" class="nav-link">Account</a></li>
    <li class="nav-item"><a href="/host/logout" class="nav-link">Log out</a></li>
  </ul>
</nav>
<main class="">
  <section class="sec" id="sec1">
    <h1 class="page-title"><%= pageTitle %></h1>
  </section>
</main>

<%- include("./footer.ejs") %>