<%- include("./header.ejs") %>
<%- include("./navbar.ejs") %>
    <li class="float-left"><a href="/services" class="decoration-0 block py-2 px-6 transition-duration: 0.2s hover:bg-white hover:text-pink-500">Services</a></li>
    <% if(userType === "client"){ %>
      <li class="float-left"><a href="/host/signup" class="decoration-0 block py-2 px-6 transition-duration: 0.2s hover:bg-white hover:text-pink-500">Become a host</a></li>
    <% } %>
    <% if(isLoggedIn === false){ %>
      <li class="float-left"><a href="/login" class="decoration-0 block py-2 px-6 transition-duration: 0.2s hover:bg-white hover:text-pink-500">Log in or Sign up</a></li>
    <% }else{ %>
      <li class="float-left"><a href="<% if(userType === 'host'){ %>/host/logout<% }else if(userType === 'client'){ %>/logout<% }else{ %>/admin/logout<% } %>" class="decoration-0 block py-2 px-6 transition-duration: 0.2s hover:bg-white hover:text-pink-500">Log out</a></li>
    <% } %>
  </ul>
</nav>
<main class="">
  <section class="">
    <h2 class=""><%= pageTitle %></h2>
  </section>
</main>

<%- include("./footer.ejs") %>