<%- include("../header.ejs") %>
<%- include("../navbar.ejs") %>
    <li class="nav-item"><a href="/accomodation" class="nav-link nav-link decoration-0 block py-2 px-6 text-white font-bold">Accomodation</a></li>
    <li class="nav-item"><a href="/account" class="nav-link nav-link decoration-0 block py-2 px-6 text-white font-bold">Account</a></li>
    <li class="nav-item"><a href="/host/register" class="nav-link nav-link decoration-0 block py-2 px-6 text-white font-bold">Want to be a host?</a></li>
    <li class="nav-item"><a href="/logout" class="nav-link nav-link decoration-0 block py-2 px-6 text-white font-bold">Log out</a></li>
  </ul>
</nav>
<main class="">
  <section class="sec" id="sec1">
    <h1 class="page-title"><%= pageTitle %></h1>
  </section>
</main>

<%- include("../footer.ejs") %>