<%- include("../common/header.ejs") %>
<%- include("../common/navbar.ejs") %>
    <li class="float-left"><a href="/account" class="decoration-0 block py-2 px-6 transition-duration: 0.2s hover:bg-white hover:text-pink-500">Profile</a></li>
    <li class="float-left"><a href="/bookings" class="decoration-0 block py-2 px-6 transition-duration: 0.2s hover:bg-white hover:text-pink-500">Bookings</a></li>
    <li class="float-left"><a href="/favourites" class="decoration-0 block py-2 px-6 transition-duration: 0.2s hover:bg-white hover:text-pink-500">Favourites</a></li>
    <li class="float-left"><a href="/logout" class="decoration-0 block py-2 px-6 transition-duration: 0.2s hover:bg-white hover:text-pink-500">Log out</a></li>
  </ul>
</nav>
<main class="">
  <section class=""><%= pageTitle %></section>
</main>

<%- include("../common/footer.ejs") %>