<%- include("../common/header.ejs") %>
<%- include("../common/navbar.ejs") %>
    <li class="float-left"><a href="/host/account" class="decoration-0 block py-2 px-6 transition-duration: 0.2s hover:bg-white hover:text-pink-500">Profile</a></li>
    <li class="float-left"><a href="/host/accomodations" class="decoration-0 block py-2 px-6 transition-duration: 0.2s hover:bg-white hover:text-pink-500">My accomodations</a></li>
    <li class="float-left"><a href="/host/add-accomodation" class="decoration-0 block py-2 px-6 transition-duration: 0.2s hover:bg-white hover:text-pink-500">Add new accomodation</a></li>
    <li class="float-left"><a href="/host/logout" class="decoration-0 block py-2 px-6 transition-duration: 0.2s hover:bg-white hover:text-pink-500">Log out</a></li>
  </ul>
</nav>
<main class="">
  <section class=""><%= pageTitle %></section>
</main>

<%- include("../common/footer.ejs") %>