<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1 class="">Sign Up</h1>
  <div class="">
    <p class="">*enter the following -</p>
    <form action="" method="post" class="">
      <p class="">
        <label for="username" class="">Username</label><br>
        <input type="text" name="username" id="username" class="">
      </p>
      <p class="">
        <label for="fullname" class="">Full name</label><br>
        <input type="text" name="fullName" id="fullname" class="">
      </p>
      <p class="">
        <label for="phone" class="">Phone</label><br>
        <input type="text" name="phone" id="phone" class="">
      </p>
      <p class="">
        <label for="email" class="">Email ID</label><br>
        <input type="email" name="email" id="email" class="">
      </p>
      <p class="">
        <label for="password" class="">Password</label><br>
        <input type="password" name="password" id="password" class="">
      </p>
      <p class="">
        <label for="confirmpassword" class="">Confirm Password</label><br>
        <input type="password" name="confirmPassword" id="confirmpassword" class="">
      </p>
      <p class="">
        <button type="submit" class="">Sign up</button>
      </p>
    </form>
    <p class="">OR</p>
    <p class="">
      already registered? <a href="/login" class="">Login</a>
    </p>
  </div>
</body>

</html>